[Unit]
Description=Ground robot remote control

[Service]
ExecStart=/bin/sh /home/pi/remote_control/start.sh
WorkingDirectory=/home/pi/remote_control
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=remote_control
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
